@model Post
@{
    ViewData["Title"] = "Create Post";
}

<div class="container mt-4">
    <h2 class="text-center">Create New Post</h2>
    <hr />
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Category:</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="">-- Select Category --</option>
                        @if(ViewBag.Categories != null)
                        {
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title:</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="control-label">Content:</label>
                    <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="ImageURL"></label>
                    <input asp-for="ImageURL" name="file" type="file" class="form-control" placeholder="ImageUrl" />
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>
            </div>
        </div>
    </form>
</div>
