@model UserWithRolesViewModel

<div class="text-center">
    <div class="display-6">Update</div>
</div>

<form method="post" asp-action="Update" enctype="multipart/form-data">

    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Roles" class="control-label"></label>
        <select asp-for="Roles" class="form-control" multiple>
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role">@role</option>
            }
        </select>
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>

</form>